.header{
    text-align: center;
    font-weight: 700 !important;
    padding: 40px 0px !important;
    color:#6d049d;
}

.textBox{
    width: 20rem;
    border:1px rgb(171 171 171) solid;
    padding:15px;    
}

.ListBox{
    width:100% !important;
    height:100% !important; 
    color:#fff !important;
    flex-wrap: wrap !important;   
    gap:18px !important;  
    justify-content:space-between !important;
}


.AddBtn{
    padding:1rem !important;
    background-color: #6d049d !important;
    color: #fff !important;
    margin-right: -13px !important;
    border-radius: 0 !important;
}

.ResetBtn{
    /* text-transform: capitalize  !important; */
    color: #6d049d !important;
    font-size: 1rem !important;
    letter-spacing: 0.5 !important;
    font-weight:400 !important ;
    padding-right:0px !important;
}